# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
__init__.py

# Intellij
*.iml
.idea/
.gradle/
local.properties
android/build

# temp file
base_output.xml
missing_icons.txt

# local work or testing files
_work/
